---
---

@import "minima";

/* DARK THEME OVERRIDES */

body {
  background-color: #111;
  color: #e5e5e5;
}

.site-header {
  background: #222;
  border-bottom: 1px solid #444;
}

.site-nav .page-link {
  color: #ddd !important;
}

.site-nav .page-link:hover {
  color: white !important;
}

a {
  color: #4aa3ff;
}

a:hover {
  color: #77c2ff;
}

details pre,
details code {
  background-color: #1e1e1e !important;
  color: #e6e6e6 !important;
  border-radius: 6px;
}

details pre {
  padding: 1em;
  overflow-x: auto;
}

details code:not(pre code) {
  background-color: #2a2a2a !important;
  padding: 0.15em 0.35em;
  border-radius: 4px;
}

